# Server Port
PORT=3000

# GoHighLevel (LeadConnector) API Config
GHL_LOCATION_ID=tn21zU0Kxi7Eu7ENTE7w
GHL_API_KEY=pit-2a7c6e2d-533c-4e11-96ab-709c97a6ed07
GHL_API_VERSION=2021-04-15

# WooCommerce API Config (Optional if WooCommerce order webhook payload contains product categories or if WooCommerce REST API access is used)
WOOCOMMERCE_URL=https://r2rtennis.com
WOOCOMMERCE_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx________
WOOCOMMERCE_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx________
